@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 1000;
  font-display: swap;
}

/* =============================== */
/* ========== VARIABLES ========== */
/* =============================== */
:root {
  /* Conversions Pixel to Rem */
  --ptr-4: 0.25rem;
  --ptr-6: 0.375rem;
  --ptr-8: 0.5rem;
  --ptr-12: 0.75rem;
  --ptr-14: 0.875rem;
  --ptr-16: 1rem;
  --ptr-18: 1.125rem;
  --ptr-20: 1.25rem;
  --ptr-24: 1.5rem;
  --ptr-28: 1.75rem;
  --ptr-32: 2rem;
  --ptr-36: 2.25rem;
  --ptr-40: 2.5rem;
  --ptr-48: 3rem;
  --ptr-64: 4rem;
  --ptr-88: 5.5rem;
  --ptr-144: 9rem;

  /* Conversions Pixel to Em */
  --pte-4: 0.25em;
  --pte-6: 0.375em;
  --pte-8: 0.5em;
  --pte-14: 0.875em;
  --pte-16: 1em;
  --pte-18: 1.125em;
  --pte-20: 1.25em;
  --pte-24: 1.5em;
  --pte-32: 2em;
  --pte-48: 3rem;
  --pte-64: 4em;

  /* Border radius */
  --br-275: var(--ptr-6);
  --br-350: var(--ptr-12);
  --br-500: var(--ptr-24);

  --br-max: 999px;

  /* Colors */
  --clr-blue-50: #ebf0ff;
  --clr-blue-300: #abc1e1;
  --clr-blue-850: #3b4d66;
  --clr-blue-900: #313e51;
  --clr-green-100: #e0fdef;
  --clr-green-500: #2fd887;
  --clr-grey-50: #f4f6fa;
  --clr-grey-500: #626c7f;
  --clr-orange-50: #fff5ed;
  --clr-purple-100: #f6e7ff;
  --clr-purple-50: hsl(277, 85%, 75%);
  --clr-purple-600: #a729f5;
  --clr-red-500: #ee5454;
  --clr-white: #ffffff;

  --clr-bg: var(--clr-grey-50);
  --clr-text-primary: var(--clr-blue-900);
  --clr-text-secondary: var(--clr-grey-500);
  --clr-bg-button: var(--clr-white);
  --clr-theme-icons: var(--clr-grey-500);

  /* Font Weight */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;

  /* Padding */
  --padding-250: var(--pte-4);
  --padding-275: var(--pte-6);
  --padding-300: var(--pte-8);
  --padding-375: var(--pte-14);
  --padding-400: var(--pte-16);
  --padding-425: var(--pte-18);
  --padding-500: var(--pte-24);
  --padding-600: var(--pte-32);
  --padding-800: var(--pte-48);
  --padding-1000: var(--pte-64);

  /* Shadow */
  --shadow: 0 16px 40px 0 rgb(143 160 193 / 0.14);

  /* Spacing */
  --spacing-300: var(--ptr-8);
  --spacing-375: var(--ptr-14);
  --spacing-400: var(--ptr-16);
  --spacing-500: var(--ptr-24);
  --spacing-600: var(--ptr-32);
  --spacing-700: var(--ptr-40);
  --spacing-800: var(--ptr-48);
  --spacing-1000: var(--ptr-64);

  /* Typography */
  --text-preset-1: var(--fw-medium) var(--ptr-88)/1 "Rubik", sans-serif;
  --text-preset-2: var(--fw-light) var(--ptr-40)/1 "Rubik", sans-serif;
  --text-preset-3: var(--fw-medium) var(--ptr-20)/1.2 "Rubik", sans-serif;
  --text-preset-4: var(--fw-medium) var(--ptr-18)/1 "Rubik", sans-serif;
  --text-preset-4-destktop:
    var(--fw-medium) var(--ptr-28)/1 "Rubik", sans-serif;
  --text-preset-5: var(--ptr-14)/1.5 "Rubik", sans-serif;
  --text-preset-6: italic var(--ptr-20)/1.5 "Rubik", sans-serif;
}

/* =============================== */
/* =========== GENERAL =========== */
/* =============================== */
body.dark-mode {
  --clr-bg: var(--clr-blue-900);
  --clr-bg-button: var(--clr-blue-850);
  --clr-text-primary: var(--clr-white);
  --clr-text-secondary: var(--clr-blue-300);
  --clr-theme-icons: var(--clr-white);

  --shadow: 0 16px 40px 0 rgba(49 62 81 / 0.14);

  background-image: url("./assets/images/pattern-background-mobile-dark.svg");
}

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--clr-bg);
  background-image: url("./assets/images/pattern-background-mobile-light.svg");
  background-repeat: no-repeat;
  color: var(--clr-text-primary);
}

main {
  padding-block: var(--padding-600);
}

section {
  gap: var(--spacing-700);
}

/* =============================== */
/* =========== UTILITY =========== */
/* =============================== */
.container {
  max-width: 72.3125rem;
  margin: 0 auto;
  padding-inline: var(--padding-500);
}

.hidden {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden;
}

/* =============================== */
/* ========== COMPONENTS ========= */
/* =============================== */
.button {
  font: var(--text-preset-4);
  width: 100%;
  padding: var(--spacing-400);
  background-color: var(--clr-purple-600);
  color: var(--clr-white);
  border: none;
  border-radius: var(--br-350);
}

.button:hover {
  background-color: var(--clr-purple-50);
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: var(--padding-400);
}

.main-header__theme-wrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-300);
}

.main-header__theme-icon {
  height: 16px;
  width: 16px;
}

.main-header__theme-icon > path {
  fill: var(--clr-theme-icons);
}

.main-header__toggle {
  --width: 32px;
  --height: 20px;
  --border-radius: var(--br-max);

  display: inline-block;
  cursor: pointer;
}

.main-header__toggle-input {
  display: none;
}

.main-header__toggle-input:checked ~ .main-header__toggle-fill::after {
  transform: translate(calc((var(--width) / 2) - 4px), -50%);
}

.main-header__toggle-fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: var(--clr-purple-600);
  transition: background 0.2s;
}

.main-header__toggle-fill::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  height: 12px;
  width: 12px;
  background: white;
  box-shadow: 0 0 10px rgba(0 0 0 /0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.menu {
  display: grid;
}

.menu__button {
  font: var(--text-preset-4);
  text-align: left;
  padding: var(--padding-400);
  background-color: var(--clr-bg-button);
  color: var(--clr-text-primary);
  border: none;
  border-radius: var(--br-350);
  box-shadow: var(--shadow);
}

.menu__options {
  display: grid;
  gap: var(--spacing-400);
}

.menu__welcome-prompt {
  font: var(--text-preset-5);
  color: var(--clr-text-secondary);
}

.menu__welcome-text {
  display: grid;
  gap: var(--spacing-400);
}

.score__card {
  display: grid;
  place-items: center;
  gap: var(--spacing-400);
  padding: var(--padding-600);
  background-color: var(--clr-bg-button);
  border-radius: var(--br-350);
}

.score__heading {
  font: var(--text-preset-2);
}

.score {
  display: grid;
  gap: var(--spacing-700);
}

.score__col--right {
  display: grid;
  gap: var(--spacing-400);
}

.score__stats {
  display: grid;
  gap: var(--spacing-400);
  text-align: center;
  font: var(--text-preset-4);
  color: var(--clr-text-secondary);
}

.score__stats-num {
  display: block;
  font: var(--text-preset-1);
  color: var(--clr-text-primary);
}

.section__heading {
  font: var(--text-preset-2);
}

.section__heading-span {
  display: block;
  font-weight: var(--fw-medium);
}

.test {
  display: grid;
  gap: var(--spacing-700);
}

.test__error-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-375);
  font: var(--text-preset-4);
  margin-top: var(--spacing-400);
}

.test__form {
  display: grid;
  gap: var(--spacing-400);
}

.test__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-400);
  padding: var(--padding-400);
  background-color: var(--clr-bg-button);
  border: 3px solid transparent;
  border-radius: var(--br-350);
}

.test__option:has(input:checked) {
  border: 3px solid var(--clr-purple-600);
}

.test__option:has(input:checked) .test__option-letter {
  background-color: var(--clr-purple-600);
  color: var(--clr-white);
}

.test__option.answer {
  border: 3px solid var(--clr-green-500) !important;
}

.test__option.answer .test__option-letter {
  background-color: var(--clr-green-500) !important;
  color: var(--clr-white);
}

.test__option.answer > .correct {
  display: block !important;
}

.test__option.incorrect {
  border: 3px solid var(--clr-red-500) !important;
}

.test__option.incorrect .test__option-letter {
  background-color: var(--clr-red-500) !important;
  color: var(--clr-white);
}

.test__option.incorrect > .incorrect {
  display: block !important;
}

.test__option.reveal > .correct {
  display: block !important;
}

.test__option-letter {
  display: grid;
  place-items: center;
  font: var(--text-preset-4);
  height: 40px;
  aspect-ratio: 1;
  background-color: var(--clr-grey-50);
  border-radius: var(--br-275);
  color: var(--clr-grey-500);
}

.test__option-text {
  font: var(--text-preset-4);
}

.test_option-text-wrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-400);
}

.test__progress-bar-wrapper {
  height: var(--spacing-400);
  padding: var(--padding-250);
  background-color: var(--clr-white);
  border-radius: var(--br-max);
}

.test__progress-bar {
  height: 100%;
  width: 50%;
  background-color: var(--clr-purple-600);
  border-radius: var(--br-max);
}

.test__question {
  display: grid;
  gap: var(--spacing-400);
}

.test__question-page {
  font: var(--text-preset-5);
  font-style: italic;
  color: var(--clr-text-secondary);
}

.test__question-text {
  font: var(--text-preset-3);
}

.test__question-wrapper {
  display: grid;
  gap: var(--spacing-500);
}

.test__radio {
  display: none;
}

.topic {
  display: flex;
  align-items: center;
  gap: var(--spacing-400);
}

.topic-icon {
  height: 28px;
  width: 28px;
}

.topic-icon__text {
  font: var(--text-preset-4);
}

.topic-icon__wrapper {
  display: grid;
  place-items: center;
  height: var(--spacing-700);
  aspect-ratio: 1;
  border-radius: var(--br-275);
}

.topic-icon__wrapper--html {
  background-color: var(--clr-orange-50);
}
.topic-icon__wrapper--css {
  background-color: var(--clr-green-100);
}
.topic-icon__wrapper--javascript {
  background-color: var(--clr-blue-50);
}
.topic-icon__wrapper--accessibility {
  background-color: var(--clr-purple-100);
}
.topic-icon__wrapper--question {
  background-color: var(--clr-grey-50);
}
.topic-icon__wrapper--active {
  background-color: var(--clr-purple-600);
  color: white;
}

/* =============================== */
/* ======== MEDIA QUERIES ======== */
/* =============================== */
@media (min-width: 48em) {
  /* =============================== */
  /* ========== VARIABLES ========== */
  /* =============================== */
  :root {
    /* Typography */
    --text-preset-1: var(--fw-medium) var(--ptr-144)/1 "Rubik", sans-serif;
    --text-preset-2: var(--fw-light) var(--ptr-64)/1 "Rubik", sans-serif;
    --text-preset-3: var(--fw-medium) var(--ptr-36)/1.2 "Rubik", sans-serif;
    --text-preset-4: var(--fw-medium) var(--ptr-28)/1 "Rubik", sans-serif;
    --text-preset-5: var(--ptr-24)/1.5 "Rubik", sans-serif;
  }

  /* =============================== */
  /* =========== GENERAL =========== */
  /* =============================== */
  body.dark-mode {
    background-image: url("./assets/images/pattern-background-tablet-dark.svg");
  }

  body {
    background-image: url("./assets/images/pattern-background-tablet-light.svg");
  }

  section {
    padding-block: --padding;
  }

  /* =============================== */
  /* =========== UTILITY =========== */
  /* =============================== */
  .container {
    padding-inline: var(--padding-1000);
  }

  /* =============================== */
  /* ========== COMPONENTS ========= */
  /* =============================== */
  .button {
    font: var(--text-preset-4-destktop);
    padding: var(--spacing-600);
    border-radius: var(--br-500);
  }

  .main-header__theme-wrapper {
    gap: var(--spacing-400);
  }

  .main-header__theme-icon {
    height: 24px;
    width: 24px;
  }

  .main-header__toggle {
    --width: 48px;
    --height: 28px;
    --border-radius: var(--br-max);
  }

  .main-header__toggle-fill::after {
    height: 20px;
    width: 20px;
  }

  .menu {
    gap: var(--spacing-1000);
  }

  .menu__options {
    display: grid;
    gap: var(--spacing-500);
  }

  .menu__welcome-prompt {
    font: var(--text-preset-6);
  }

  .score {
    gap: var(--spacing-1000);
  }

  .score__col--right {
    gap: var(--spacing-600);
  }

  .score__card {
    gap: var(--spacing-700);
    padding: var(--padding-800);
    border-radius: var(--br-500);
  }

  .score__stats {
    font: var(--text-preset-5);
    font-weight: var(--fw-medium);
  }

  .test__error-label {
    margin-top: var(--spacing-600);
  }

  .test__form {
    gap: var(--spacing-500);
  }

  .test__question {
    gap: var(--spacing-500);
  }

  .test__option {
    gap: var(--spacing-600);
    border-radius: var(--br-500);
  }

  .test__option-letter {
    height: 56px;
  }

  .test__question-wrapper {
    gap: var(--spacing-700);
  }

  .topic {
    gap: var(--spacing-600);
  }

  .topic-icon {
    height: 40px;
    width: 40px;
  }

  .topic-icon__text {
    font: var(--text-preset-4-destktop);
  }

  .topic-icon__wrapper {
    height: 56px;
    border-radius: var(--br-350);
  }
}

@media (min-width: 90em) {
  /* =============================== */
  /* =========== GENERAL =========== */
  /* =============================== */
  body.dark-mode {
    background-image: url("./assets/images/pattern-background-desktop-dark.svg");
  }

  body {
    background-image: url("./assets/images/pattern-background-desktop-light.svg");
  }

  /* =============================== */
  /* =========== UTILITY =========== */
  /* =============================== */
  .container {
    padding-inline: 0;
  }

  /* =============================== */
  /* ========== COMPONENTS ========= */
  /* =============================== */
  .menu,
  .test {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 128px;
  }

  .menu__options,
  .test__form {
    gap: var(--spacing-400);
  }

  .menu__welcome-text,
  .test__question-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-700);
  }

  .test__question-wrapper {
    gap: 184px;
  }
}
